#include "templates/header.tmpl"
package: <a href="/package/$package.name:master/">$package.name</a><br />
branch: <a href="/package/$package.name:$branch/">$package.name:$branch</a><br />
filename: <a href="/package/$package.name:$branch/$filename">$filename</a><br />
sha: <a href="/package/$package.name:$branch/$filename/$sha">$sha</a><br />
command: $command<br />
<a href="/package/$package.name:$branch/$filename/$sha/:edit">edit</a><br />
<a href="/package/$package.name:$branch/$filename/$sha/:raw">raw view</a><br />
<a href="/package/$package.name:$branch/$filename/$sha/:log">commit history</a><br />
<hr><br /><br />
$content
#include "templates/footer.tmpl"
