        </div> <!-- end container -->

        <!-- these extra divs/spans are catch-alls to add extra imagery if you're into that -->
        <div id="extra_div1"><span></span></div><div id="extra_div2"><span></span></div><div id="extra_div3"><span></span></div>
        <div id="extra_div4"><span></span></div><div id="extra_div5"><span></span></div><div id="extra_div6"><span></span></div>

        <!-- quasi legal speak -->
        <div id="footer">
            <small>
            copyright &copy; 2009. omnifab.org-specific text is licensed under the <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike</a> license. skdb is licensed under the <a href="http://www.gnu.org/licenses/gpl.html">GNU General Public License</a>. we are proud to serve up 100% free, open source hardware!
            </small>
        </div> <!-- end footer -->

        <script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
        <script type="text/javascript" src="http://twitter.com/statuses/user_timeline/kanzure.json?callback=twitterCallback2&amp;count=1"></script>
<!-- google analytics goes here -->
    </body>
</html>
