<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>omnifab!</title>
        <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="alternate" type="application/rss+xml" title="RSS" href="http://omnifab.org/feeds/rss" />
        <link rel="start" href="/" title="omnifab index" />
        <!--<base href="http://omnifab.org/" />-->

        <!-- meta elements -->
            <meta name="title" content="omnifab!">
            <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
            <meta http-equiv="content-language" content="en" />
            <meta name="author" content="bryan bishop, ben lipkowitz, heath matlock" />
            <meta name="description" content="omnifab puts free hardware designs in one spot and an easy way to make and plan stuff out" />
            <meta name="keywords" content="omnifab, fablab, faboratory, fabratory, skdb, open source hardware, free software, open source software, FOSS, open manufacturing, DIY, instructions, howto, creative commons, labs, laboratories, laboratory" />
            <meta name="revisit-after" content="2 days" />
            <meta name="googlebot" content="index, follow" />
            <meta name="robots" content="all" />
        <!-- end meta elements -->
        <!-- cascading style sheets -->
            <!-- see: http://www.w3.org/TR/CSS2/media.html -->

            <!-- in general -->
            <link rel="stylesheet" type="text/css" href="/styles/general.css" /> 

            <!-- standard computer screen -->
            <link type="text/css" rel="stylesheet" media="screen" href="/styles/screen.css">

            <!-- print -->
            <link type="text/css" rel="stylesheet" media="print" href="/styles/print.css">

            <!-- handheld (sometimes same as print) -->
            <link type="text/css" rel="stylesheet" media="handheld" href="/styles/handheld.css">

            <!-- braille, etc. -->
            <link type="text/css" rel="stylesheet" media="braille, embossed" href="/styles/braille.css">

            <!-- projection (presentations, etc.) -->
            <link type="text/css" rel="stylesheet" media="presentation" href="styles/projection.css">

            <!-- speech, aural -->
            <link type="text/css" rel="stylesheet" media="speech, aural" href="/styles/speech.css">

            <!-- terminals -->
            <link type="text/css" rel="stylesheet" media="tty" href="/styles/tty.css">

            <!-- television -->
            <link type="text/css" rel="stylesheet" media="tv" href="/styles/tv.css">
        <!-- end cascading style sheets -->
        <!-- begin javascript library crap -->
            <!-- see: http://script.aculo.us/ -->
            <!-- see: http://wiki.github.com/madrobby/scriptaculous -->
            <script src="/javascripts/prototype.js" type="text/javascript"></script>
            <script src="/javascripts/scriptaculous.js" type="text/javascript"></script>
            <!-- see: http://www.andrewsellick.com/examples/simple-slide-show/ -->
            <script src="/javascripts/simple-slide-show.js" type="text/javascript"></script>
        <!-- end javascript library crap -->
    </head>
    <body id="omnifab" class="page">
        <!-- the header can show a big, giant banner, or just a catchy title (feel free to hide it) -->
        <div id="header">
            <div id="banner">omnifab</div>
            <div id="title">omnifab.org</div>
            <div id="slogan">apt-get for real stuff!</div>
            <!-- the navigation bar helps show the user major thematic options for perusing the site -->
            <div id="navigation_bar">
                <ul>
                    <li><span class="selected"><b><a href="/">FAQ</a></b></span></li>
                    <li><span><a href="/details">details</a></span></li>
                    <li><span><a href="/install">install</a></span></li>
                    <li><span><a href="/share">share</a></span></li>
                    <li><span><a href="/package">packages</a></span></li>
                </ul>
            </div> <!-- end navigation_bar -->
        </div> <!-- end header -->


        <!-- container is where page-specific magic happens -->
        <div id="container">
