#include "header.tmpl"
            <!-- use this for spontaneous messages that the user should be aware of (errors, complaints, new stuff, ..) -->
            <div id="notification">Hello! Do you have any <a href="/upload">CAD models</a>?</div>

            <!-- dunno if i care about twitter enough -->
            <div id="twitter_div">
                <a href="http://twitter.com/kanzure" id="twitter_link">twitter: follow us</a>
                <div id="twitter_update_list">not available</div>
            </div>

            <!-- a gallery of images like of a part, package, a showcase of multiple projects, etc. -->
            <div id="slide-show">
                <ul id="slide-images">
                    <li><img width=280 height=159 src="http://adl.serveftp.org/lab/fenn/pngs/nat_repo/lego.png" alt="lego from NAT repo" title="lego from NAT repo" /></li>
                    <li><img width=280 height=159 src="http://adl.serveftp.org/lab/fenn/pngs/nat_repo/transmission.png" alt="transmission" title="transmission" /></li>
                    <li><img width=280 height=159 src="http://adl.serveftp.org/lab/fenn/pngs/nat_repo/drill.png" alt="drill" title="drill" /></li>
                </ul>
            </div>

            <!-- let's get more specific -->
            <!-- display actual content of the page -->
            <div id="page_content">
                <h2>SO, I HEAR YOU WANT TO TAKE OVER THE WORLD.</h2>
                <ol id="faq">
                    <li>
                        <h3><span>step 1: reinvent the wheel.. or not</span></h3>
                        <p class="p1"><span>civilization is built on the shoulders of giants, not your pocket book</span></p>
                    </li>
                    <li>
                        <h3><span>step 2: share your wheel</span></h3>
                        <p class="p1"><span>not just designs for circuit boards, but biological constructs, scientific instruments, machine tools, nuts and bolts, raw materials, and how to make them.</span></p>
                    </li>
                    <li>
                        <h3><span>step 3: reconnect the wheel</span></h3>
                        <h2><span>the lego brick of open source hardware</span></h2>
                        <p class="p1"><span>none, sorry, please come back later</span></p>
                        <p class="p2"><span>other explanation is allowed</span><p>
                    </li>
                </ol> <!-- end faq -->
            </div> <!-- end page_content -->
#include "footer.tmpl"
