#import cherrypy
#include "templates/header.tmpl"
clone command: git clone http://heybryan.org:8081/git/$package.name/.git/<br />
package name: <a href="/package/$package.name:master/">$package.name</a><br />
branch: <a href="/package/$package.name:$branch/">$branch</a><br />
<a href="/package/$package.name/:branches">see a list of existing branches</a><br />
<a href="/package/$package.name:$branch/:log">commit history</a><br />
<hr>
<br /><br />
$content
#include "templates/footer.tmpl"
